/*----- HEADER -----*/
.navbar-brand img {
    width: 5rem;
}
/* ---------------- */


/*----- MAIN -----*/
main {
    margin-top: 6rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, .1);;
}
/* ---------------- */


/*----- FOOTER -----*/
.btn-outline-light {
    width: 42px;
    border-radius: 50%
}
/* ---------------- */