/*----- HEADER -----*/
.navbar-brand img {
    width: 5rem;
}

.sort--btns {
    margin: 6.5rem 0 0 1rem;
}
/* ---------------- */


/*----- MAIN -----*/
main {
    margin-top: 0.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, .1);;
}

.for--btns--card {
    display: flex;
    justify-content: space-between;
}

.fa-heart {
    color: crimson;
    font-size: 1.5rem;
}

.count--likes {
    font-size: 1.2rem;
    color:dimgray;
}
/* ---------------- */


/*----- FOOTER -----*/
.btn-outline-light {
    width: 42px;
    border-radius: 50%
}
/* ---------------- */