body#container-main {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

header{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

p.hidden-p {
  white-space: nowrap;
  overflow: hidden;
  display: block;
  text-overflow: ellipsis;
}

